@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 425px;
    font-family: Nunito;
}

header {
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 64px 24px;
    background: #000000;
    color: #FFFFFF;
    height: 100%;
}

.conteudo_header{
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.titulo_header{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#titulo1 {
    font-size: 18px;
    font-weight: 500;
}

#subtitulo {
    font-size: 12px;
    font-weight: 500;
}

.texto_header {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.texto_header p {
    font-size: 10px;
}

.botao_header {
    display: block;
    margin: auto;
}

.background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 222px;
    height: 50px;
    border-radius: 8px;
    background: #FFFFFF;
    color: #000000;
}

.botao_header p {
    font-size: 16px;
    font-weight: 500;  
}

.imagem_header{
    display: block;
    margin: auto;
}

.imagem_header img {
    width: 193px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding: 20px 24px;
}

.parte1_main {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.titulo_main h2 {
    color: #000;
    font-size: 12px;
    font-weight: 500;
}

.oculos_main {
    display: flex;
    justify-content: center;
}

.oculos_main img {
    width: 90px;
    height: 124px;
    border-radius: 4px;
    border: 1px solid #000000;
    box-shadow: 66.155px 25.99px 19.788px 0px rgba(0, 0, 0, 0.00), 42.233px 16.539px 18.311px 0px rgba(0, 0, 0, 0.01), 23.922px 9.451px 15.358px 0px rgba(0, 0, 0, 0.05), 10.632px 4.135px 11.223px 0px rgba(0, 0, 0, 0.09), 2.658px 1.181px 6.202px 0px rgba(0, 0, 0, 0.10);
}

.imagem2 {
    margin: 0 8px;
}

.parte2_main {
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.texto_main {
    margin: 0px 20px;
    font-size: 16px;
    font-weight: 500;
}

.imagem_main img {
    display: block;
    margin: auto;
    width: 167px;
    border-radius: 167px;
    border: 1px solid #000000;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 42px;
    height: 100dvh;
    padding: 50px 24px;
    background: #000000;
}

#titulo_footer {
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
    text-decoration: underline;
}

.conteudo_footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
}

.parte1_footer {
    display: flex;
    flex-direction: column;
    background:#343434;
    padding: 14px 22px;
    border-radius: 8px;
}

.parte1_footer h2 {
    color: #FFFFFF;
    font-size: 8px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding-left: 8px;
    font-size: 8px;
    width: 100%;
    height: 30px;
    background: #D9D9D9;
    border: none;
}

form [type="submit"] {
    margin-top: 20px;
    background: #FFE600;
    color: #FF0000;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
}

footer img {
    width: 80px;
    border-radius: 80px;
}

.parte2_footer {
    display: block;
    margin: auto;
}
